<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>b;o;c;i;a;n</string>
	<key>odpowiedzi</key>
	<array>
		<string>boa</string>
		<string>nic</string>
		<string>noc</string>
		<string>oba</string>
		<string>ona</string>
		<string>oni</string>
		<string>bocian</string>
	</array>
</dict>
</plist>
