<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>c;h;o;m;i;k</string>
	<key>odpowiedzi</key>
	<array>
		<string>koc</string>
		<string>moc</string>
		<string>och</string>
		<string>cmok</string>
		<string>miko</string>
		<string>chomik</string>
	</array>
</dict>
</plist>
