<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>d;a;k;t;y;l</string>
	<key>odpowiedzi</key>
	<array>
		<string>akt</string>
		<string>dla</string>
		<string>kat</string>
		<string>tak</string>
		<string>tyka</string>
		<string>dykta</string>
		<string>tylda</string>
		<string>daktyl</string>
	</array>
</dict>
</plist>
