<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>d;e;s;k;a;r</string>
	<key>odpowiedzi</key>
	<array>
		<string>akr</string>
		<string>dar</string>
		<string>dek</string>
		<string>era</string>
		<string>kra</string>
		<string>rak</string>
		<string>ser</string>
		<string>kadr</string>
		<string>kres</string>
		<string>adres</string>
		<string>deska</string>
		<string>kreda</string>
	</array>
</dict>
</plist>
