<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>f;r;e;t;k;a</string>
	<key>odpowiedzi</key>
	<array>
		<string>akr</string>
		<string>akt</string>
		<string>era</string>
		<string>kat</string>
		<string>kra</string>
		<string>rak</string>
		<string>tak</string>
		<string>tar</string>
		<string>fakt</string>
		<string>fart</string>
		<string>feta</string>
		<string>frak</string>
		<string>kret</string>
		<string>afekt</string>
		<string>fretka</string>
	</array>
</dict>
</plist>
