<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>k;a;n;g;u;r</string>
	<key>odpowiedzi</key>
	<array>
		<string>akr</string>
		<string>gar</string>
		<string>gnu</string>
		<string>gra</string>
		<string>kra</string>
		<string>rak</string>
		<string>knur</string>
		<string>kran</string>
		<string>kuna</string>
		<string>kura</string>
		<string>runa</string>
		<string>uran</string>
		<string>urna</string>
		<string>kangur</string>
	</array>
</dict>
</plist>
