<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>m;o;n;e;t;a</string>
	<key>odpowiedzi</key>
	<array>
		<string>eon</string>
		<string>mat</string>
		<string>ona</string>
		<string>tam</string>
		<string>atom</string>
		<string>etan</string>
		<string>meta</string>
		<string>nota</string>
		<string>omen</string>
		<string>tona</string>
		<string>manto</string>
		<string>metan</string>
		<string>moneta</string>
	</array>
</dict>
</plist>
