<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>n;a;r;t;y;o</string>
	<key>odpowiedzi</key>
	<array>
		<string>ona</string>
		<string>tar</string>
		<string>tor</string>
		<string>aron</string>
		<string>nora</string>
		<string>nota</string>
		<string>rano</string>
		<string>rota</string>
		<string>tona</string>
		<string>tran</string>
		<string>tron</string>
		<string>narty</string>
		<string>ornat</string>
		<string>tyran</string>
	</array>
</dict>
</plist>
