<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>p;o;d;r;ó;ż</string>
	<key>odpowiedzi</key>
	<array>
		<string>pod</string>
		<string>por</string>
		<string>pór</string>
		<string>ród</string>
		<string>róż</string>
		<string>odór</string>
		<string>opór</string>
		<string>odpór</string>
		<string>poród</string>
		<string>podróż</string>
	</array>
</dict>
</plist>
