<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poziomy</key>
	<array>
		<string>tukano</string>
		<string>wronaó</string>
		<string>rekina</string>
		<string>orkani</string>
		<string>kozats</string>
		<string>bocian</string>
		<string>fretka</string>
		<string>kangur</string>
		<string>źrebak</string>
		<string>krowan</string>
		<string>srokam</string>
		<string>zebrag</string>
		<string>goryla</string>
		<string>kogutl</string>
		<string>muchao</string>
		<string>szpako</string>
		<string>brokuł</string>
		<string>burako</string>
		<string>cebula</string>
		<string>ciasto</string>
		<string>daktyl</string>
		<string>gulasz</string>
		<string>jabłko</string>
		<string>piwoda</string>
		<string>kremaw</string>
		<string>lukier</string>
		<string>ogórek</string>
		<string>omletw</string>
		<string>orzech</string>
		<string>rosółt</string>
		<string>szynka</string>
		<string>grzyba</string>
		<string>baleto</string>
		<string>deskar</string>
		<string>forumk</string>
		<string>modelp</string>
		<string>moneta</string>
		<string>nartyo</string>
		<string>piłkae</string>
		<string>relaks</string>
		<string>serial</string>
		<string>sporta</string>
		<string>szachy</string>
		<string>szkico</string>
		<string>taniec</string>
		<string>wodare</string>
		<string>wódkaz</string>
		<string>żagiel</string>
		<string>aloesk</string>
		<string>dolina</string>
		<string>fiolka</string>
		<string>flakon</string>
		<string>garnek</string>
		<string>gąsior</string>
		<string>kaptur</string>
		<string>litera</string>
		<string>miasto</string>
		<string>nawózd</string>
		<string>podróż</string>
		<string>pranie</string>
		<string>reszta</string>
		<string>rozpad</string>
		<string>rzepak</string>
		<string>śmierć</string>
		<string>sztuka</string>
		<string>trzoda</string>
		<string>wiedza</string>
		<string>wiertło</string>
		<string>wrotki</string>
		<string>busola</string>
		<string>bzdura</string>
		<string>płatek</string>
		<string>poczta</string>
		<string>tundra</string>
		<string>tunika</string>
	</array>
</dict>
</plist>
