<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>r;o;z;p;a;d</string>
	<key>odpowiedzi</key>
	<array>
		<string>dar</string>
		<string>oda</string>
		<string>pad</string>
		<string>pod</string>
		<string>por</string>
		<string>rad</string>
		<string>rap</string>
		<string>raz</string>
		<string>zad</string>
		<string>doza</string>
		<string>odra</string>
		<string>opad</string>
		<string>opar</string>
		<string>oraz</string>
		<string>pora</string>
		<string>rdza</string>
		<string>ropa</string>
		<string>proza</string>
		<string>zdrap</string>
		<string>rozpad</string>
	</array>
</dict>
</plist>
