<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>litery</key>
	<string>t;a;n;i;e;c</string>
	<key>odpowiedzi</key>
	<array>
		<string>nic</string>
		<string>nie</string>
		<string>nit</string>
		<string>ten</string>
		<string>cena</string>
		<string>cent</string>
		<string>taniec</string>
	</array>
</dict>
</plist>
